* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: #222;
    
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 480px;
}

.main {
    display: flex;
    flex-direction: column;
    
    margin: auto;

    border: 2px solid #666;
    border-radius: 2em;

    overflow: auto;

    h1 {
        width: 100%;
        
        padding: .4em 1em;
    
        text-align: center;
    }
}